.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.gameContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wordsBox {
  flex-grow: 2;
  height: 100vh;
}

.allWords {
  font-size: x-large;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 33%;
}

/* .gameBoard {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  aspect-ratio: 1;
}

.gameBoardBox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.diceCube {
  box-sizing: border-box;
  border-radius: 20%;
  background-color: aliceblue;
  border: #282c34 solid 10px;
  color: #282c34;
}


.diceLetter {
  width: 100%;
  height: 100%;
} */

.gameboardLarge {
  /* background-color: darkcyan; */
  min-width: 600px;
}

.squareContainer {
  /* border: 3px solid greenyellow; */
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  /* grid-gap: 10px; */
  font-size: 1.75em;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  /* grid-gap: 10px; */
  font-size: 1.25em;
}

.square {
  position: relative;
  background-color: aliceblue;
  color: #282c34;
  /* box-sizing: border-box; */
  border-radius: 20%;
  border: #282c34 solid 10px;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}

.square .content-hide {
  color: #F0F8FF;
}

.timeDone {
  border: red solid 10px;
}

.board-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 400px;
  align-items: center;
  margin-top: 20px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: xx-large;
  /* min-width: 500px; */
  margin-bottom: 20px;
}

/* .counterButton {
  visibility: hidden;
} */

.newGameModal {
  background: white;
  /* min-width: 20%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 20px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.MuiCardHeader-root {
  height: 50px;
  background-color: blueviolet;
  margin-top: 0;
  color: white;
}

.modalControls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalControls > div {
  margin: 10px;
}

@media (max-width: 700px) {

  .gameboardLarge {
    min-width: 500px;
  }

  .newGameModal {
    min-width: 500px
  }
  
}

@media (max-width: 520px) {

  .gameboardLarge {
    min-width: 400px;
  }

  .newGameModal {
    min-width: 400px
  }
  
}

@media (max-width: 420px) {

  .gameboardLarge {
    min-width: 330px;
  }

  .newGameModal {
    min-width: 330px
  }
  
}

.gamePauseControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}