.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gameContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
}

.wordsBox {
  min-width: 20%; 
  align-self: stretch;
  flex-grow: 1;
}

.possibleWords {
  align-self: stretch;
  padding: 3rem;
}

.returnedWords {
  height: calc(100vh - 300px);
  overflow-y:scroll;
}

.wordList {
  display: flex;
  flex-wrap: wrap;
}

.word {
  margin: 2px;
  min-width: 24%;
}


/* -------------dice styling---------------- */
.gameboardLarge {
  padding: 15px;
  min-width: 600px;
}

.squareContainer {
  /* height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative; */
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  /* grid-gap: 10px; */
  font-size: 1.75em;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  /* grid-gap: 10px; */
  font-size: 1.25em;
}

.square {
  position: relative;
  background-color: aliceblue;
  color: #282c34;
  /* box-sizing: border-box; */
  border-radius: 20%;
  border: #282c34 solid 10px;
}

.square::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.square .content {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}

.square .content-hide {
  color: #F0F8FF;
}

.timeDone {
  /* border: red solid 10px; */
  background: red;
}

.board-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 400px;
  align-items: center;
  margin-top: 20px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: xx-large;
  margin-bottom: 20px;
  flex-grow: stretch;
}

/* .counterButton {
  visibility: hidden;
} */

.newGameModal {
  background: white;
  /* min-width: 20%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 20px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.MuiCardHeader-root {
  height: 50px;
  background-color: blueviolet;
  margin-top: 0;
  color: white;
}

.modalControls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalControls > div {
  margin: 10px;
}


@media (max-width: 1600px) {
  
  .gameContainer {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .word {
    margin: 2px;
    min-width: 32%;
  }
  
}
@media (max-width: 700px) {

  .gameboardLarge {
    min-width: 500px;
  }

  .newGameModal {
    max-width: 500px
  }
  
}

@media (max-width: 520px) {

  .gameboardLarge {
    min-width: 400px;
  }

  .newGameModal {
    min-width: 400px
  }
  
}

@media (max-width: 420px) {

  .gameboardLarge {
    min-width: 330px;
  }

  .newGameModal {
    min-width: 330px
  }
  
}

.gamePauseControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}